body {
  padding-top: 70px;
  font-family: Baskerville, "Baskerville Old Face", Palatino, "Book Antiqua", Georgia, serif;
  color: white;
  text-shadow: 1px 1px black;
  background-color: black;
 }

.navbar {
   background-color: #266A2E;
 }

 .separator {
   display: flex;
   justify-content: space-between;
 }

.table-hover > tbody > tr:hover {
   background-color: #266A2E;
 }

.logo {
 display: flex;
 align-content: center;
 align-items: center;
}

.checks {
 display: flex;
 justify-content: space-between;
}
